.table_settings {
    font-family: "PT Sans", "Arial", serif;
    font-size: 18px;
}

.table_header {
    color: white;
    text-align: center;
}

.table_header_cell1 {
    background-color: #7a88ad;
}

.table_header_cell2 {
    background-color: #50618d;
}

.table_header_cell3 {
    background-color: #314174;
}

.table_header_cell4 {
    background-color: #182955;
}

.table_header_cell5 {
    background-color: #07153a;
}

.cells {
    text-align: center;
    height: 40px;
    width: 150px;
}

.rows1 {
    background-color: #dbdbdb;
}

.rows2 {
    background-color: #e7e7e7;
}

.rows3 {
    background-color: #ececec;
}

.rows4 {
    background-color: #f3f3f3;
}

.border_radius1 {
    border-radius: 10px 0px 0px 0px;
}

.border_radius2 {
    border-radius: 0px 10px 0px 0px;
}

.border_radius3 {
    border-radius: 0px 0px 0px 10px;
}

.border_radius4 {
    border-radius: 0px 0px 10px 0px;
}

.span {
    font-size: 22px;
}